.Rproj.user
/eveGNN.Rproj
.idea/
.RData
*.RData
/Test/
*.rds
/Bash/*/
/Bash/params
/Bash/grouped_indices.txt
/data/
/GNN/
/Test2/
/GPS/
.Rhistory
Scratch.R
emp/~$condamine_estimates.xlsx
Script/test.py
/pars_cca.csv
/stats_cca.csv
*.png
*.png
